*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgba(216, 210, 200, 0.178);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  /* position: relative; */
  /* overflow: hidden; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  font-variant: small-caps;
}
@media screen and (max-width: 600px) {
  body{
    display: block;
    padding: 40px 20px;
  }
}

main{
  width: 80%;
  /* min-width: 320px; */
  min-height: 80%;
  /* min-height: 200px; */
  background-color: #fff;
  font-family: system-ui;
  font-weight: lighter;
  font-size: clamp(10px, 2vw, 14px);
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.1); 
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.1);
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  position: relative;
}

@media screen and (max-width: 600px) {
  main{
    width: 100%;
    max-height: 800px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1); 
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  }
}

main > img{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  height: 65%;
  filter: saturate(.5);
  
}

@media screen and (max-width: 600px) {
  main > img{
    height: 160px;
  }
}

header{
  width: 100%;
  position: relative;
  /* top: min(70px, 7vh); */
}
header > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

header img{
  width: 50%;
}

header p{
  position: absolute;
  bottom: 8px;
  font-size: clamp(12px, 2vw, 16px);
}
header a{
  text-decoration:none;
  color: rgb(106, 134, 78);
  font-weight: 400;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  header img{
    width: 80%;
  }
  header p{
    bottom: 0;
  }
}

main > section{
  width: 80%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

main > section > div{
  display: flex;
  width: 100%;
}

.media{
  flex-wrap: wrap;
  gap: 20px;
}

#feedbacks{
  /* border: 1px solid red; */
  width: 50%;
  display: flex;
}

.feedback{
  width: 90%;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  flex-basis: 200px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1); 
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  
}

.feedback h4{
  font-weight: lighter;
  font-size: 10px;
  text-transform: uppercase;
}

.feedback a{
  text-decoration: none;
  cursor: pointer;
}

.feedback a :hover{
  color: rgb(106, 134, 78);
}

.feedback > p{
  font-variant: normal;
  text-align: justify;
}

@media screen and (max-width: 600px) {
  #feedbacks{
    width: 100%;
    min-height: 200px;
    flex-direction: column;
  }
  .feedback{
    width: 100%;
  }
}


.points-area{
  height: 100%;
  width: 5%;
  min-width: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.points-area > div{
  /* border: 1px blue solid; */
  width: 100%;
  /* width: 26px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .points-area{
    width: 100%;
    height: 20px;
    flex-direction: row;
  }
  .points-area > div{
    width: 12px;
  }
}

.points-area span{
  border-radius: 50%;
}

.currentPoint{
  background-color: rgb(106, 134, 78);
  height: 8px;
  min-width: 8px;
}
.othersPoints{
  border: 1px solid #999999;
  height: 6px;
  min-width: 6px;
}

.video{
  width: 50%;
  /* max-width: 200px; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: 200px;

}

/* @media screen and (max-width: 600px) {
  .video{
    width: 100%;
  }
} */

video{
  /* -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1); 
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1); */
  max-width: 360px;
  min-width: 200px;
  border-radius: 8px;
  filter: brightness(1.2);
}

h1, h2{
  width: 100%;
  text-align: center;
  font-weight: 300;
}

h1{
  font-size: clamp(12px, 2vw, 18px);
}

h2{
  font-size: clamp(10px, 1.8vw, 16px);
}

.contact{
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  margin-top: 20px;
}

.contact span{
  width: 100%;
  display: flex;
  justify-content: center;
}

.contact img{
  width: 50px;
  filter: brightness(0.5);
}

footer{
  /* position: absolute;
  bottom: 80px; */
  font-size: 10px;
}

#lottie-animation{
  height: 50%;
  position: absolute;
  left: -20px;
  bottom: -40px;
  filter:invert(1);
  opacity: .8;
}
